<a href="https://colab.research.google.com/github/Impossiblepretext/Experiment_No.5/blob/main/Experiment_No_5(sets).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Creation of set
exset={"hello","world","big man"}
print(exset)

{'world', 'big man', 'hello'}

In [ ]:
#duplicates are not allowed
exset={"hello","world","big man","hello"}
print(exset)

{'world', 'big man', 'hello'}

In [ ]:
# The values True and 1 Are considered same so as false and 0
exset={True,1,False,0}
print(exset)

{False, True}

In [ ]:
# It supports all datatypes
exset={"hello",1,True,40}
print(exset)

{40, 1, 'hello'}

In [ ]:
# serching in set
exset={"hello","world","big man"}
print("hello" in exset)
print("small Boy" in exset)

True
False

In [ ]:
#Set is partially mutable(u can add/delete an item but you cannot replace it like in lists)
exset={"hello","world","big man"}
exset.add("small Boy")
exset.remove("world")
print(exset)

{'small Boy', 'big man', 'hello'}

In [ ]:
# Set operations
a={1,2,3,4,5}
b={4,5,6,7,8}
print("union",a|b)
print("intersection",a&b)
print("difference",a-b)
print("symmetric difference",a^b)

union {1, 2, 3, 4, 5, 6, 7, 8}
intersection {4, 5}
difference {1, 2, 3}
symmetric difference {1, 2, 3, 6, 7, 8}

In [ ]:
# frozenset
exset=frozenset({"hello","world","big man"})
print(exset)
print(type(exset))

frozenset({'world', 'big man', 'hello'})
<class 'frozenset'>

In [ ]:
# Addition or removal of elements are not allowed in Frozenset
exset=frozenset({"hello","world","big man"})
exset.add("small Boy")
exset.remove("world")
print(exset)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
''' Problem statement 1: unique event participation
A college event has a list of students who registered multiple times by mistake
write a program using set to store participant names and display only unique participants'''
# List of students who registered (with duplicates)
participants = [
    "Aman", "Riya", "Sahil", "Riya", "Neha",
    "Aman", "Karan", "Neha"
]

# Using a set to store unique participant names
unique_participants = set(participants)

# Display unique participants
print("Unique Event Participants:")
for name in unique_participants:
    print(name)

Unique Event Participants:
Karan
Riya
Aman
Sahil
Neha

In [ ]:
''' Problem statement 2:Three students choose  elective subjects
Find the common subjects chosen by both students using set operations.
Concept used: Set interaactions ()'''
# Lists of subjects
vibhas = ["maths", "physics", "chemistry"]
gitesh = ["maths", "physics", "biology"]
anay = ["business", "maths", "biology"]

# Convert lists to sets
s1 = set(vibhas)
s2 = set(gitesh)
s3 = set(anay)

# Common subjects chosen by all three students
common_subjects = s1 & s2 & s3

print("Students:")
print("Vibhas:", vibhas)
print("Gitesh:", gitesh)
print("Anay:", anay)

print("\nCommon subject(s) chosen by all students:")
print(common_subjects)

Students:
Vibhas: ['maths', 'physics', 'chemistry']
Gitesh: ['maths', 'physics', 'biology']
Anay: ['business', 'maths', 'biology']

Common subject(s) chosen by all students:
{'maths'}

In [ ]:
''' Problem statement 3: one set contains studdent in cricket club, another in football club .
Find students who are:
1. In both clubs
2. In only one club
cooncept used : Inetrsection,symmetric difference '''
# Students in clubs
cricket = {"Aman", "Rohit", "Vibhas", "Anay"}
football = {"Gitesh", "Rohit", "Anay", "Karan"}

# 1. Students in both clubs (Intersection)
both_clubs = cricket & football

# 2. Students in only one club (Symmetric Difference)
only_one_club = cricket ^ football

print("Students in both Cricket and Football clubs:")
print(both_clubs)

print("\nStudents in only one club:")
print(only_one_club)

Students in both Cricket and Football clubs:
{'Rohit', 'Anay'}

Students in only one club:
{'Karan', 'Aman', 'Vibhas', 'Gitesh'}

In [ ]:
''' Problem Statement 4: Remove Invalid Enteries.
A set contains valid course codes.
Remove invalid codes from the from the set.
Concept Used: remove()/discard()'''
courses={"ETC101","ETC102","ETC103"}
courses.discard("ETC101")
print(courses)

{'ETC102', 'ETC103'}

In [1]:
# Basics Of Dictionary
laptop = {
    "brand" : "Dell",
    "model" : "G15",
    "year" : 2022
}

print(laptop)

# Length of the dictionary
print(len(laptop))

# Type of variable
print(type(laptop))
# Output :

# Changing the values
laptop["year"] = 2023
print(laptop)

# Retrival of values
print("Brand : ",laptop['brand'])

# Adding a new item with kay
laptop["Price"] = 55000
print(laptop)

# Removing elements from list
laptop.pop("Price") # Price & 55000 removed from dictionary
print(laptop)

{'brand': 'Dell', 'model': 'G15', 'year': 2022}
3
<class 'dict'>
{'brand': 'Dell', 'model': 'G15', 'year': 2023}
Brand :  Dell
{'brand': 'Dell', 'model': 'G15', 'year': 2023, 'Price': 55000}
{'brand': 'Dell', 'model': 'G15', 'year': 2023}